#refContainer {
  display: block;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 300px;
}
#refContainer object {
  display: block;
  margin: 0px;
  padding: 0px;
  background-color: rgba(0,0,0,0.8);
}
#refSearch {
  position: relative;
  width: 300px;
  margin: 0px;
  padding: 0px;
  text-align: right;
}
#refSearch input {
  display: block;
  width: 288px;
  margin-top: 0px;
  margin: 0px;
  text-align: left;
  border-radius: 0px 0px 0px 8px;
  border: 0px;
  background-color: rgba(0,0,0,0.8);
  color: #eeeeee;
  padding-left: 8px;
  padding-right: 4px;
  padding-bottom: 2px;
  margin-bottom: 8px;
}
#refSearch input:focus {
  outline: none;
}
#inspirator {
  margin-right: 4px;
  font-size: 12px;
  text-align: right;
}
#inspiratorText {
  margin: 0px;
  margin-bottom: 2px;
  margin-right: 1px;
}
#inspiratorButton {
  font-size: 9px;
  margin: 0px;
}
