.layerWidget {
  padding: 4px;
  width: 172px;
}
.layerWidget button {
  width: 24px;
  height: 24px;
  padding: 0px;
  padding-bottom: 1px;
  margin: 0px;
  font-size: 12px;
}
.layers {
  background: rgba(0,0,0,0.3);
  width: 156px;
  list-style: none;
  margin: 0px;
  margin-bottom: 2px;
  padding: 0px;
  max-height: 100%;
  display: block;
}
.layers li {
  position: relative;
  cursor: move;
  width: 124px;
  display: block;
  list-style: none;
  margin: 0px;
  margin-bottom: 2px;
  padding: 4px;
  padding-top: 6px;
  padding-bottom: 2px;
  padding-bottom: 4px;
  padding-right: 26px;
  font-size: 12px;
  border: 1px solid rgba(0,0,0,0.15);
  border-bottom: 1px solid rgba(0,0,0,0.5);
  border-top: 1px solid rgba(0,0,0,0.5);
  background: rgba(255,255,255,0.4);
  color: rgba(0,0,0,0.6);
  vertical-align: bottom;
}
.layers .current {
  background: rgba(255,255,255,0.8);
  color: black;
}
.layers input[type=checkbox] {
  vertical-align: bottom;
  margin: 0px;
  margin-right: 8px;
}
.layers .current input[type=checkbox] {
  opacity: 1;
}
.layerOpacitySlider {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 154px;
  height: 4px;
  display: block;
  margin-bottom: 2px;
  background-color: #888;
}
.layerOpacityKnob {
  background-color: #ddd;
  display: block;
  position: absolute;
  width: 20px;
  height: 3px;
  border-bottom: 1px solid #bbb;
  top: 0px;
  left: 134px;
}
