.layerWidget {
  padding: 4px;
  width: 172px;
}
.layerWidget button {
  width: 24px;
  height: 20px;
  padding: 1px;
  margin: 0px;
  font-size: 12px;
}
.layers {
  width: 156px;
  list-style: none;
  margin: 0px;
  margin-bottom: 2px;
  padding: 0px;
  max-height: 100%;
  display: block;
}
.layers li {
  position: relative;
  cursor: move;
  width: 180px;
  display: block;
  list-style: none;
  margin: 0px;
  margin-bottom: 2px;
  padding: 2px;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-right: 26px;
  font-size: 12px;
  border: 1px solid rgba(0,0,0,0.15);
  border-bottom: 1px solid rgba(0,0,0,0.5);
  border-top: 1px solid rgba(0,0,0,0.5);
  background: #ccc;
  color: #444;
  vertical-align: bottom;
}
.layers .current {
  background: #eee;
  color: black;
}
.layers input[type=checkbox] {
  vertical-align: bottom;
  margin: 0px;
}
.layers .current input[type=checkbox] {
  opacity: 1;
}
.layers span {
  margin-left: 8px;
}
.layerOpacitySlider {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 208px;
  height: 4px;
  display: block;
  margin-bottom: 2px;
  background-color: #888;
}
.layerOpacityKnob {
  background-color: #ddd;
  display: block;
  position: absolute;
  width: 20px;
  height: 3px;
  border-bottom: 1px solid #bbb;
  top: 0px;
  left: 188px;
}
