html,
body
{
	margin: 0;
	padding: 0;
	background: white;
}

#filePicker {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: white;
	overflow: auto;
	box-sizing: border-box;
	padding: 8px;
	padding-top: 16px;
	text-align: center;

	cursor: pointer;

	transition: 0.5s 0.1s;
}

#filePicker.hidden {
	transition: 0.5s;
}

.item {
	display: inline-block;
	width: 90px;
	height: 160px;
	position: relative;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #EEE;
	background-size: contain;

	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);

	margin: 4px;

	font-family: sans-serif;
	font-size: 9px;
	color: white;

	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.item span {
	background: rgba(120,120,120,0.6);
	position: absolute;
	left: 0px;
	bottom: 15px;
	width: 100%;
	box-sizing: border-box;
	height: 20px;
	line-height: 20px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
}

.emptyTrash {
	font-size: smaller;
	cursor: pointer;
}

.folder {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid silver;
}

.folder .move {
	background: black;
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 15px;
	line-height: 15px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

.folder .recover {
	display: none;
	cursor: pointer;
	background: black;
	text-align: center;
	height: 15px;
	line-height: 15px;
}

.folder .trash {
	display: block;
	cursor: pointer;
	background: black;
	text-align: center;
	height: 15px;
	line-height: 15px;
}

.folder.Trash .recover {
	display: block;
}

.folder.Trash .trash {
	display: none;
}
